html,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}
#navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  flex: 1;
  display: flex;
  margin: 0% 0%;
  justify-content: space-between;
  align-items: center;
  background-color: black;
  z-index: 2;
}
main {
  height: 100%;
  z-index: 1;
}
#source-code-img {
  display: inline-block;
  height: 60px;
  width: 60px;
  padding-left: 30px;
}
#nav-header {
  display: inline-block;
  width: 100%;
  color: rgb(222, 222, 222);
  text-align: right;
  padding-right: 30px;
  text-decoration: none;
}
.blurbspace {
  position: relative;
  width: 100%;
  /* text-align: center; */
  /* color: rgb(222, 222, 222); */
}
.blurbspace-top {
  min-height: 100%;
}
.blurbspace-follow {
  min-height: 100%;
}
.blurb {
  /* display: inline-block; */
  position: absolute;
  top: 0%;
  width: 100%;
  line-height: 1.5em;
  color: white;
}
.blurb-top {
  top: 30%;
  text-align: center;
}
.blurb-follow {
  top: 30%;
}
.font {
  font-weight: bold;
}
.font-blue {
  color: rgb(59, 59, 255);
}
.font-green {
  color: green;
}
.font-red {
  color: red;
}
#pendulum-canvas {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 0;
}
