body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}
.wrapper {
  margin: auto;
  top: 0;
  left: 0;
  background-color: "black";
}
.navbar {
  flex: 1;
  display: flex;
  margin: 0% 5%;
  justify-content: space-between;
  align-items: center;
}
.source-code-img {
  display: inline-block;
  height: 60px;
  width: 60px;
}
.nav-head {
  display: inline-block;
  color: rgb(222, 222, 222);
  text-align: center;
  padding: 0px 10px;
  text-decoration: none;
}
canvas {
  margin: auto;
  display: block;
  background-color: black;
}
